@model Model.Alumnos
@{

    ViewBag.Title = "Ver Detalles";
}

<h2>@(Model.Nombres + " " + Model.Apellido1 + " " + Model.Apellido2)</h2>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Informaciòn Alumno</strong></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Edad</dt>
            <dd>@Model.Edad</dd>
            <dt>Correo</dt>
            <dd>@Model.Correo</dd>
            <dt>Telefono</dt>
            <dd>@Model.Telefono</dd>
            <dt>Fecha Nac.</dt>
            <dd>@Model.FechaNacimiento</dd>
            <dt>Ciudad</dt>
            <dd>@Model.Ciudades.NombreCiudad </dd>


        </dl>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Cursos Tomados</div>
        <div class="panel-body">
            <ul class="list-group">
                @foreach (var c in Model.Cursos)
                {
                    <li class="list-group-item">
                        @c.NombreCurso
                    </li>
                }
            </ul>
        </div>

        <div class="well well-sm">
            <a class="btn btn-default" href="~/AlumnosDiseno/Crud/@Model.Alumno_Id" title="Editar">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-danger" href="~/Personas/Delete/@Model.Alumno_Id" title="Eliminar">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
            <a class="btn btn-default" href="~/AlumnosDiseno/Index" title="Volver a la Lista">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </a>

        </div>




    </div>


</div>


